.page-body{
    &.compact{
        top: 3rem;
    }
    &.-with-side{
        .page-body-wrapper{
            display: flex;
            .page-body-main{
                flex:1
            }
            .side-wrapper{
                width: 20%;
                padding: 20px 10px 20px 10px;
            }
        }
        &.side_30{
            .side-wrapper{
                width: 30%;
            }
        }
        &.side_20{
            .side-wrapper{
                width: 20%;
            }
        }
    }
}
