.active_menu_svg{
    circle{
        stroke: white
    }
    path{
        stroke: white;
    }
}

.search_input{
    input{
        height: 32px;
    }

    button{
        height: 32px;
        min-height: 32px;
    }
}