.request-display-page{
    .request-display-header{
        padding-left: 80px;
    }
}

.master-page:has(.request-display-page){
    & > aside{
        display: none;
    }
    & > main{
        left: 0px;
    }
}